<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {{!-- We will create separate css files for each page, which can be sent from nodejs --}}
    {{#each styles}}
    	<link rel="stylesheet" href="/css/{{this}}.css" media="screen" title="no title">
    {{/each}}
    <script src="/react/react-with-addons.min.js" charset="utf-8"></script>
    <script src="/react/react-dom.min.js" charset="utf-8"></script>
  </head>
  	<body>
