
{{!-- Needed to provide an id for React to get note of the div --}}
<div class="main-topic" id="react-body">
	<div class="quotes">
		<div class="quote">
			<p class="text">"If you can't explain it strong simply, you don't understand it well enough"</p>
			<p class="author">Albert Einstein</p>
		</div>
	</div>
</div>