<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="/react/react-with-addons.js" charset="utf-8"></script>
<script src="/react/react-dom.js" charset="utf-8"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://unpkg.com/react-leaflet/dist/react-leaflet.min.js"></script>

<div class="main-topic" id="mapid"> </div>

{{!-- Needed to provide an id for React to get note of the div --}}

<script type="text/javascript" src="js/home.js"></script>