{{!-- Everything here is already inside (body -> div.main) container --}}
<div id="mapbox">

</div>

{{!-- Will contain all the Navigation stuffs, like, menus etc. --}}
<div id="navigation">

</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
<script type="text/javascript" src="js/index.js"></script>