<script src='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />

{{!-- Everything here is already inside (body -> div.main) container --}}
<div id="mapbox">

</div>

{{!-- Will contain all the Navigation stuffs, like, menus etc. --}}
<div id="navigation">

</div>

<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script type="text/javascript">
/*
 * All default variables for handlebars goes here...
 * Can also seperate this as a different file, but will do that later...
 */
var apiKey = "{{ api_key }}"

</script>
<script type="text/javascript" src="js/index.js"></script>